<!DOCTYPE html>
<html lang="en">
<h1>Privacy Policy</h1>
<title>Travel Kenya - Policy</title>
<p>
    This Privacy Policy ("Policy") sets out how Viutravel, (collectively referred to in this document as "Viutravel", "we" "our" or "us") protects the privacy of your personal information.
    Viutravel is Kenya's first online travel booking platform dedicated to showing the explored and unexplored sides of Kenya. We need to collect, use and disclose personal information in order to perform our business functions and activities,
     including making and managing travel bookings on behalf of our customers. We are firmly committed to protecting the privacy and confidentiality of personal 
     information and to maintaining various physical, electronic, and procedural safeguards to protect personal information in our care.
    By providing personal information to us (either directly or allowing another person to do so on your behalf), you agree that this Policy will apply to how we handle
     your personal information and you consent to us collecting, using and disclosing your personal information as detailed in this Policy. If you do not agree with any part of this Policy, you must not provide your personal information to us. If you do not provide us with your personal information, or if you withdraw a consent that you have given under this Policy, this may affect our ability to provide services to you or negatively impact the services we can provide to you. For example, most travel bookings must be made under the traveler’s full name and must include contact details and appropriate identification (e.g. Passport details). We cannot make bookings for you without that information.
</p>
<ol>
    <li><strong>Policy Pending</strong> <br>
        <p>At Viutravel, we are committed to the protection of personal information obtained from users of our platforms and websites. This Privacy Policy sets out how Viutravel Investments Ltd (“hereinafter referred to as “Viutravel”), collects and uses your personal information to help you make informed decisions when using our services on www.viutravel.com. Subject to the terms of this Policy and the Website Terms and Conditions, we will endeavour to at all times preserve your information in confidence. We will not however be liable for any loss of data by ourselves or by other contracted independent service providers on whom we will wholly or partially be reliant to deliver the services.</p>
    </li>
    <li><strong>About the Policy</strong><br>
        <p>This Privacy Policy document contains types of information that is collected and recorded by Viutravel and how we use it.
            This Privacy Policy applies only to our online activities and is valid for visitors to our website with regards to the information that they shared and/or collect in Viutravel. This policy is not applicable to any information collected offline or via channels other than this website. Our Privacy Policy was created with the help of the Free Privacy Policy Generator and our legal advisors.
        </p>
    </li>
    <li><strong>Information Collection</strong><br>
        <p>The personal information that you are asked to provide, and the reasons why you are asked to provide it, will be made clear to you at the point we ask you to provide your personal information. If you contact us directly, we may receive additional information about you such as your name, email address, phone number, the contents of the message and/or attachments you may send us, and any other information you may choose to provide. When you register for an Account, we may ask for your contact information, including items such as name, company name, address, email address, and telephone number.</p>
    </li>
    <li><strong>Erroneous Information</strong><br>
        <p>If any Personal Information provided is wrong, Viutravel shall give you ways to update it quickly or to delete it unless Viutravel decides to keep that information for legitimate business or legal purposes. In addition, you may at any time make a request to Viutravel for rectification of any inaccurate Personal Data or for completion of any incomplete Personal Data. When updating, rectifying or completing your Personal Information, Viutravel may ask you to verify your identity before acting on your update, rectification or completion request. Viutravel may at its discretion reject your update, rectification or completion request if Viutravel determines that the effect of processing such request for an update, rectification, and/or completion will conceal your true identity and facilitate the furtherance of fraudulent acts.</p>>    </li>
    <li><strong>Express Consent</strong><br>
        <p>By your access and continued use of the website, you hereby unequivocally consent to the collection, storage, processing and use of this information as specified in this Policy</p>
    </li>
    <li><strong>Usage of your information</strong><br>
        <p>We use the information we collect in various ways, including to:</p>
        <ul>
            <li>Provide, operate, and maintain our website</li>
            <li>Improve, personalize, and expand our website</li>
            <li>Understand and analyze how you use our website</li>
            <li>Develop new products, services, features, and functionality</li>
            <li>Communicate with you, either directly or through one of our partners, including for customer service, to provide you with updates and other information relating to the website, and for marketing and promotional purposes</li>
            <li>Send you emails</li>
            <li>Find and prevent fraud</li>
        </ul>
    </li>
    <li><strong>Storage</strong><br>
        <p>We will store your Personal Information for as long as you maintain an account with us and, thereafter, retain your personal information for as long as it is required to fulfill contractual or legal requirements.</p>
    </li>
    <li><strong>Disclosure of your information</strong><br>
        <p>Viutravel may disclose your Personal Information to third parties in the following circumstances:</p>
        <ul>
            <li>Where you have provided your express consent to do so;</li>
            <li>Where it is necessary to provide you with the services you have requested;</li>
            <li>Where it is necessary to facilitate the performance of a contract between you and Viutravel;</li>
            <li>Where it is necessary to comply with a legal obligation;</li>
            <li>Where it is necessary to protect the vital interests of any person;</li>
            <li>Where it is necessary for the performance of a task carried out in the public interest or in the exercise of official authority vested in Viutravel;</li>
            <li>Where it is necessary for the purposes of the legitimate interests pursued by Viutravel or by a third party.</li>
        </ul>
    </li>
    <li><strong>Security of your information</strong><br>
        <p>Viutravel shall take all reasonable steps to protect your Personal Information from unauthorized access, disclosure, alteration, or destruction. Viutravel shall also take all reasonable steps to ensure that your Personal Information is accurate and up-to-date.</p>
    </li>
    <li><strong>Links to other websites</strong><br>
        <p>Our website contains links to other websites that are not owned or controlled by us. Please be aware that we are not responsible for the privacy practices of such other websites or third parties. We encourage you to be aware when you leave our website and to read the privacy statements of each and every website that may collect Personal Information.</p>
    </li>
    <li><strong>Changes to this Policy</strong><br>
        <p>Viutravel reserves the right to amend this Policy at any time. We will notify you of any changes to this Policy by posting the updated Policy on the Viutravel website. By continuing to use the Viutravel website after the changes come into effect, you agree to be bound by the revised Policy.</p>
    </li>
    <li><strong>Data Protection Rights</strong><br>
        <p>We would like to make sure you are fully aware of all of your data protection rights. Every user is entitled to the following:
            <ul>
                <li>The right to access – You have the right to request copies of your personal data. We may charge you a small fee for this service.</li>
                <li>The right to rectification – You have the right to request that we correct any information you believe is inaccurate. You also have the right to request that we complete the information you believe is incomplete.</li>
                <li>The right to erasure – You have the right to request that we erase your personal data, under certain conditions.</li>
                <li>The right to restrict processing – You have the right to request that we restrict the processing of your personal data, under certain conditions.</li>
                <li>The right to object to processing – You have the right to object to our processing of your personal data, under certain conditions.</li>
                <li>The right to data portability – You have the right to request that we transfer the data that we have collected to another organization, or directly to you, under certain conditions.</li>
                <li>If you wish to make a request with respect to any of the foregoing rights, we have one month to respond to you. If you would like to exercise any of these rights, please contact us.</li>
            </ul>
        </p>
    </li>
    <li><strong>Children's Information Rights</strong><br>
        <p>We encourage parents and guardians to observe, participate in, and/or monitor and guide their online activity. Viutravel does not knowingly collect any Personal Identifiable Information from children under the age of 18. If you think that your child provided this kind of information on our website, we strongly encourage you to contact us immediately and we will do our best efforts to promptly remove such information from our records.</p></li>
    </li>
    <li><strong>Consent</strong><br>
        <p>By using our website, you hereby consent to our Privacy Policy and agree to its Terms and Conditions.</p>
    </li>
    <li><strong>Third-Party Websites</strong><br>
        <ul>
            <li>As part of the service or for any other reason, Viutravel may provide links to third-party websites or applications on the Viutravel platform. However, Viutravel shall not be responsible for the privacy practices employed by those websites and applications or the information or content they contain.</li>
            <li>This Privacy Policy applies solely to information collected by us through the Viutravel platform and the service. It does not apply to your use of a third-party website accessed by selecting a link on the Viutravel website.</li>
            <li>If you access or use the Service through or on a third-party website or application, the privacy policy of that third-party website or application will apply to your access or use of that site or application. You should read the privacy policy of third-party websites.</li>
        </ul>
    </li>
    <li><strong>Change to this policy</strong><br>
        <p>Viutravel shall keep this Privacy Policy under regular review and place the updated Policy on the Viutravel website. Hard copies of the same can be obtained on request and at a fee to be determined by ourselves. You are required to appraise yourself with the updated policy from time to time.</p>
    </li>
    <li><strong>Policy Supplemental</strong><br>
        <p>This Policy is supplemental to the Website Terms and Conditions.</p>
    </li>
    <li><strong>Liability</strong><br>
        <p>Viutravel is not responsible for any injury, loss, damage, cost or expense suffered by you if and to the extent that it is caused by your negligence or willful misconduct or by breach of your obligations under the General Terms and Conditions.</p><br>
        <p>Except as otherwise expressly provided in law, Viutravel is not liable to the Customer for any: (a) loss of profits; (b) loss of business; (c) loss of revenue; (d) loss of or damage to goodwill; (e) loss of savings (whether anticipated or otherwise) and/or any indirect, special or consequential loss or damage occasioned by a data breach.</p><br>
    </li>
    <li><strong>Complaints/Contacts</strong><br>
        <p>If you have any complaints about our privacy practices, please feel free to send in details of your complaints to the our email address provided on the website. We take complaints very seriously and will respond shortly after receiving written notice of your complaint.</p>
        <p>If you have additional questions or require more information about our Privacy Policy, do not hesitate to contact us using the contact details appearing on our website.</p>
    </li>
</ol>

</html>